VITE_API_BASE_URL = https://workbridge-smart-enterprise-platform1.onrender.com/api
VITE_TOKEN_REFRESH_PATH = /token/refresh/
VITE_APP_BASE_URL = https://workbridge-smart-enterprise-platform-1.onrender.com